@{
    ViewBag.Title = "Home Page";
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Ideas > Designs > Product!</h1>
        <p>Bring your ideas and requirements. We will combine them with designs and inspiration to create powerful messages and communication portals.  We will then use
         state-of-the-art technology, tools and practices to create truely powerful platforms to communicate your message to the world
            and your customers.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Inspiration</h2>
            <p>Our design team has the ability to portray and project images and concepts that will invigorate and inspire your clients and customers.  Bringing modern
                tools and techniques we will create your message on the internet. </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Design</h2>
            <p>Art, pictures, fonts, colors, space and lines are the pallette from which our talented design team invokes the story that your organization desires
                to present to your followers.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Technology</h2>
            <p>After all of the wonderful images and flows have emerged from the inspiration and designs, our top-notch highly skilled technology team will coerce the
                bits and bytes from the availble platforms and practices to construct an amazing and dynamic organism that will be the eyes into your organization.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
    </div>
</div>