@{
    ViewBag.Title = "Resume of Steve Taylor";
}
<div id="info">
    <h3 itemprop="name">Stephen M. Taylor</h3>
    <div id="photo">
        <img src="/images/stevepic.jpg" alt="Steve Taylor resume photo avatar" itemprop="image" />
    </div>
    <h3><span itemprop="jobTitle"><a href="http://www.stevemtaylor.com/" style="" target="_blank" rel="nofollow" onmouseover="self.status='http://www.stevemtaylor.com/';return true;" onmouseout="self.status=''">Freelance</a> Web Developer</span></h3>
    <small itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="addressLocality">Lakewood</span>,
        <span itemprop="addressRegion">Washington</span>,
        <span itemprop="addressCountry">USA</span>
    </small><br/>
    <small><span itemprop="email">email: steve@stevemtaylor.com</span></small>
    <small><a href="http://www.stevemtaylor.com/" itemprop="url">My Web Lab</a> • <a href="http://twitter.com/smtaylor88" itemprop="url">@@smtaylor88</a></small>
</div>

<div id="w" itemscope itemtype="http://schema.org/Person">
    <section id="skills" class="clearfix" itemscope itemtype="http://schema.org/ItemList">
        <p class="skillset" itemprop="name">Skillset</p>
        <section id="skills-left">
            <h4 itemprop="about">Software Development</h4>
            <ul>
                <li itemprop="itemListElement">ASP.NET / C#</li>
                <li itemprop="itemListElement">JavaScript & jQuery & libraries</li>
                <li itemprop="itemListElement">HTML5 / CSS3</li>
                <li itemprop="itemListElement">SQL Databases</li>
                <li itemprop="itemListElement">Visual Studio 2013</li>
                <li itemprop="itemListElement">Windows Forms</li>
            </ul>
        </section>

        <section id="skills-right">
            <h4 itemprop="about">Enterprise Tools</h4>
            <ul>
                <li itemprop="itemListElement">Adobe Photoshop</li>
                <li itemprop="itemListElement">Agile / Scrum</li>
                <li itemprop="itemListElement">XML Documents</li>
                <li itemprop="itemListElement">Team Foundation Server</li>
                <li itemprop="itemListElement">Windows Services</li>
            </ul>
        </section>
    </section>

    <section id="articles">
        <h2>Recent Work Experiences</h2>
        <p itemscope itemtype="http://schema.org/Article">
            <span itemprop="name">
                <a href="http://www.cicplus.com/" itemprop="url" title="Creating online tax form services for large corporate clients">CicPlus - Web Development</a>
            </span> • Providing Contract Services since <span itemprop="datePublished">April 2009</span>
        </p>

        <p itemscope itemtype="http://schema.org/Article">
            <span itemprop="name">
                <a href="http://www.aaftracking.com/" itemprop="url" title="Providing cargo shipping services to Alaska">Alaska Air Cargo - Client Web Portal</a>
            </span> • Providing Contract Services since <span itemprop="datePublished">January 2008</span>
        </p>

        <p itemscope itemtype="http://schema.org/Article">
            <span itemprop="name">
                <a href="http://www.laborready.com/" itemprop="url" title="National provider of temporary manual labor">True Blue, Laborready Inc. - Client Web Portal</a>
            </span> • Employed between <span itemprop="datePublished">January 2000 & August 2007</span>
        </p>

    </section>
</div>