@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Online Responsive Resume Demo</title>
    <meta name="author" content="Steve Taylor">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    @Styles.Render("~/Content/resume.css", "~/Content")
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Simonetta:400,900|Balthazar">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="responsive.css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>
    <header class="clearfix">
        <div id="info">
            <h1><span itemprop="name">Jake Rocheleau</span></h1>
            <h3><span itemprop="jobTitle"><a href="http://www.hongkiat.com/blog/out/freelancer" style="" target="_blank" rel="nofollow" onmouseover="self.status='http://www.hongkiat.com/blog/out/freelancer';return true;" onmouseout="self.status=''">Freelance</a> Writer & Web Developer</span></h3>
            <small itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="addressLocality">Hudson</span>,
                <span itemprop="addressRegion">Massachusetts</span>,
                <span itemprop="addressCountry">USA</span>
            </small>
            <small><span itemprop="email">jakerocheleau@gmail.com</span></small>
            <small><a href="http://byjakewithlove.com/" itemprop="url">My Portfolio</a> • <a href="http://twitter.com/jakerocheleau" itemprop="url">@@jakerocheleau</a></small>
        </div>

        <div id="photo">
            <img src="http://media02.hongkiat.com/responsive-resume/jake-rocheleau-250.jpg" alt="Jake Rocheleau resume photo avatar" itemprop="image" />
        </div>
    </header>
    <div id="w" itemscope itemtype="http://schema.org/Person">

        <section id="skills" class="clearfix" itemscope itemtype="http://schema.org/ItemList">
            <h2 itemprop="name">Skillset</h2>
            <section id="skills-left">
                <h4 itemprop="about">Development</h4>
                <ul>
                    <li itemprop="itemListElement">HTML5/CSS3</li>
                    <li itemprop="itemListElement">JavaScript & jQuery</li>
                    <li itemprop="itemListElement">PHP Backend</li>
                    <li itemprop="itemListElement">SQL Databases</li>
                    <li itemprop="itemListElement">WordPress</li>
                    <li itemprop="itemListElement">Pligg CMS</li>
                    <li itemprop="itemListElement">Some Objective-C</li>
                </ul>
            </section>

            <section id="skills-right">
                <h4 itemprop="about">Software</h4>
                <ul>
                    <li itemprop="itemListElement">Adobe Photoshop</li>
                    <li itemprop="itemListElement">Adobe Dreamweaver</li>
                    <li itemprop="itemListElement">MS Office 2007-2010</li>
                    <li itemprop="itemListElement">cPanel & phpMyAdmin</li>
                    <li itemprop="itemListElement">Xcode 4</li>
                </ul>
            </section>
        </section>

        <section id="articles">
            <h2>Recent Articles</h2>
            <p itemscope itemtype="http://schema.org/Article">
                <span itemprop="name">
                    <a href="http://www.hongkiat.com/blog/css-javascript-fallback-methods/" itemprop="url" title="10 Useful Fallback Methods For CSS And Javascript">10 Useful Fallback Methods For CSS And Javascript</a>
                </span> • Published in <span itemprop="datePublished">July 2012</span>
            </p>

            <p itemscope itemtype="http://schema.org/Article">
                <span itemprop="name">
                    <a href="http://www.hongkiat.com/blog/wordpress-url-rewrite/" itemprop="url" title="Rewriting URLs In WordPress: Tips And Plugins">Rewriting URLs In WordPress: Tips And Plugins</a>
                </span> • Published in <span itemprop="datePublished">July 2012</span>
            </p>

            <p itemscope itemtype="http://schema.org/Article">
                <span itemprop="name">
                    <a href="http://www.hongkiat.com/blog/jpeg-optimization-guide/" itemprop="url" title="JPEG Optimization For The Web ñ Ultimate Guide">JPEG Optimization For The Web ñ Ultimate Guide</a>
                </span> • Published in <span itemprop="datePublished">July 2012</span>
            </p>

            <p itemscope itemtype="http://schema.org/Article">
                <span itemprop="name">
                    <a href="http://www.hongkiat.com/blog/design-perfect-newsletter/" itemprop="url" title="9 Tricks To Design The Perfect HTML Newsletter">9 Tricks To Design The Perfect HTML Newsletter</a>
                </span> • Published in <span itemprop="datePublished">May 2012</span>
            </p>

            <p itemscope itemtype="http://schema.org/Article">
                <span itemprop="name">
                    <a href="http://www.hongkiat.com/blog/google-website-optimizer-ab-testing-guide/" itemprop="url" title="Guide To A/B Testing With Google Website Optimizer">Guide To A/B Testing With Google Website Optimizer</a>
                </span> • Published in <span itemprop="datePublished">March 2012</span>
            </p>
        </section>
    </div>
</body>
</html>
