@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Taxes</title>
</head>
<body>
    <div>
        <img src="/1040Page1.jpg" /><img src="/1040Page2.jpg" />
    </div>
</body>
</html>
